.loginForm {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    border: 1px solid grey;
    padding: 10px;
    padding-bottom: 20px;
}

.input {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 15px;
    width: auto;
}