.dark {
    --bg-color: #252525d1;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #ffffffc5;
    --secondary-color: #66bfff;
    --inverted-primary-color: #0452ff;
    --inverted-secondary-color: #0232c2;

    --link-color: #8ab4f8;

    //  skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code background
    --code-bcg: #0b0b6a;
}
