.navbar {
    position: relative;
    width: auto;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-shadow: rgb(0 0 0 / 20%) 0 5px 5px;
    z-index: 1;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.signin {
    padding: 6px 10px;
}